@import url(./vendor/normalize.css);
.body {
	background-color: black;
}
.page-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.header__title {
	color: yellow;
}
.header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}
.calc__screen {
	color: black;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	min-height: 40px;
}
.calc__delete {
	width: 75%;
}

.calc__zero {
	width: 75%;
}
.calc__equal {
	background-color: coral;
	color: white;
}
.calc__equal:hover {
	background-color: red;
}
.calc {
	background-color: wheat;
	min-width: 320px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	border-radius: 10px;
}
.calc__area {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}

button {
	height: 67px;
	font-size: 40px;
	color: black;
	padding: 0px;
	margin: 0;
	border: 1.5px solid black;
	border-radius: 10px;
	background-color: white;
	cursor: pointer;
	-webkit-transition: 0.5s, -webkit-transform;
	transition: 0.5s, -webkit-transform;
	-o-transition: transform, 0.5s;
	transition: transform, 0.5s;
	transition: transform, 0.5s, -webkit-transform;
	width: 25%;
}
button:hover {
	background-color: rgb(153, 82, 211);
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.calc__inputs {
	font-size: 40px;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.pacman {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #f2d648;
	position: relative;
	margin-top: 20px;
	margin-right: 30px;
}

.pacman__eye {
	position: absolute;
	width: 5px;
	height: 5px;
	background-color: red;
	top: 10px;
	right: 10px;
	background: #333333;
}

.pacman__mouth {
	background: #000;
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
	clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
	-webkit-animation-name: eat;
	animation-name: eat;
	-webkit-animation-duration: 0.7s;
	animation-duration: 0.7s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}
.pacman__food {
	position: absolute;
	width: 7px;
	height: 7px;
	background: rgb(247, 243, 8);
	border-radius: 50%;
	top: 47%;
	left: 72px;
	-webkit-animation-name: food;
	animation-name: food;
	-webkit-animation-duration: 0.7s;
	animation-duration: 0.7s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

@-webkit-keyframes eat {
	0% {
		-webkit-clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
		clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
	}
	25% {
		-webkit-clip-path: polygon(100% 60%, 44% 48%, 100% 40%);
		clip-path: polygon(100% 60%, 44% 48%, 100% 40%);
	}

	50% {
		-webkit-clip-path: polygon(100% 50%, 44% 48%, 100% 50%);
		clip-path: polygon(100% 50%, 44% 48%, 100% 50%);
	}

	75% {
		-webkit-clip-path: polygon(100% 59%, 44% 48%, 100% 35%);
		clip-path: polygon(100% 59%, 44% 48%, 100% 35%);
	}

	100% {
		-webkit-clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
		clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
	}
}

@keyframes eat {
	0% {
		-webkit-clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
		clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
	}
	25% {
		-webkit-clip-path: polygon(100% 60%, 44% 48%, 100% 40%);
		clip-path: polygon(100% 60%, 44% 48%, 100% 40%);
	}

	50% {
		-webkit-clip-path: polygon(100% 50%, 44% 48%, 100% 50%);
		clip-path: polygon(100% 50%, 44% 48%, 100% 50%);
	}

	75% {
		-webkit-clip-path: polygon(100% 59%, 44% 48%, 100% 35%);
		clip-path: polygon(100% 59%, 44% 48%, 100% 35%);
	}

	100% {
		-webkit-clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
		clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
	}
}

@-webkit-keyframes food {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(-30px);
		transform: translateX(-30px);
		opacity: 0;
	}
}

@keyframes food {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(-30px);
		transform: translateX(-30px);
		opacity: 0;
	}
}
.calc__screen-for-allinputs {
	border-radius: 10px;

	background-color: rgb(153, 116, 116);
	margin: 0px;
	font-size: 20px;
	font-family: monospace;
	word-wrap: break-word;
	min-height: 30px;
}
.button_is-disabled {
	pointer-events: none;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 0.5;
}
.history {
	width: 320px;
	margin-top: 5px;
	background-color: burlywood;
	border-radius: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	min-height: 200px;
	position: relative;
}
.history__title {
	margin-top: 5px;
	margin-left: 5px;
	font-style: italic;
}
.history__solution {
	margin-top: 2px;
	margin-bottom: 0px;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Courier New', Courier, monospace;
	margin-left: 5px;
	list-style: square;
}
.history__trash-icon {
	all: unset;
	background-image: url('./images/trash__icon.svg');
	width: 25px;
	height: 25px;
	position: absolute;
	right: 10px;
	top: 5px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	background-color: transparent;
	border-radius: 50%;
	-webkit-transition: background-color, 1s;
	-o-transition: background-color, 1s;
	transition: background-color, 1s;
}
.history__trash-icon:hover {
	background-color: black;
}
.history__solutions {
	margin: 0px;
}
